version: '3'
services:
   mongo:
      image: mongo
      restart: always
      ports:
         - 27017:27017
      command: mongod
      environment:
         MONGO_INITDB_ROOT_USERNAME: root
         MONGO_INITDB_ROOT_PASSWORD: testmongo

   db-admin:
      image: mongo-express
      ports:
         - 8081:8081
      environment:
         ME_CONFIG_MONGODB_ADMINUSERNAME: root
         ME_CONFIG_MONGODB_ADMINPASSWORD: testmongo

   web:
      build:
         context: .
         dockerfile: Dockerfile
      command: python3 manage.py runserver 0.0.0.0:8000
      volumes:
         - .:/pycode
      ports:
         - 8000:8000
      expose:
         - 8000